In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.neural_network import MLPRegressor
from google.colab import files
import io

In [2]:
uploaded = files.upload()

Saving AirQualityUCI.xlsx to AirQualityUCI.xlsx

In [3]:
df = pd.read_excel(io.BytesIO(uploaded['AirQualityUCI.xlsx']))

In [4]:
df.head()

        Date      Time  CO(GT)  ...      T         RH        AH
0 2004-03-10  18:00:00     2.6  ...  13.60  48.875001  0.757754
1 2004-03-10  19:00:00     2.0  ...  13.30  47.700000  0.725487
2 2004-03-10  20:00:00     2.2  ...  11.90  53.975000  0.750239
3 2004-03-10  21:00:00     2.2  ...  11.00  60.000000  0.786713
4 2004-03-10  22:00:00     1.6  ...  11.15  59.575001  0.788794

[5 rows x 15 columns]

In [16]:
num = df._get_numeric_data()
num[num<0]=0

In [17]:
feature = df
feature = feature.drop('Date',axis=1)
feature = feature.drop('Time',axis=1)
feature = feature.drop('C6H6(GT)',axis=1)

In [18]:
feature.head()

   CO(GT)  PT08.S1(CO)  NMHC(GT)  ...      T         RH        AH
0     2.6      1360.00       150  ...  13.60  48.875001  0.757754
1     2.0      1292.25       112  ...  13.30  47.700000  0.725487
2     2.2      1402.00        88  ...  11.90  53.975000  0.750239
3     2.2      1375.50        80  ...  11.00  60.000000  0.786713
4     1.6      1272.25        51  ...  11.15  59.575001  0.788794

[5 rows x 12 columns]

In [19]:
label = df['C6H6(GT)']

In [20]:
x_train,x_test,y_train,y_test = train_test_split(feature,label,test_size=3)

In [21]:
rgr = MLPRegressor()
rgr.fit(x_train,y_train)

MLPRegressor(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
             beta_2=0.999, early_stopping=False, epsilon=1e-08,
             hidden_layer_sizes=(100,), learning_rate='constant',
             learning_rate_init=0.001, max_fun=15000, max_iter=200,
             momentum=0.9, n_iter_no_change=10, nesterovs_momentum=True,
             power_t=0.5, random_state=None, shuffle=True, solver='adam',
             tol=0.0001, validation_fraction=0.1, verbose=False,
             warm_start=False)

In [22]:
rgr.score(x_train,y_train)

0.9671972333528664

In [23]:
pred = rgr.predict(x_test)

In [24]:
print(pred)

[32.12447035 -2.07937916 41.55689717]