In [12]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.neural_network import MLPRegressor
from matplotlib import pyplot as plt

In [2]:
from sklearn.datasets import load_boston
boston = load_boston()

In [3]:
df_x = pd.DataFrame(boston.data, columns=boston.feature_names)
df_y = pd.DataFrame(boston.target)

In [7]:
df_x.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...  RAD    TAX  PTRATIO       B  LSTAT
0  0.00632  18.0   2.31   0.0  0.538  ...  1.0  296.0     15.3  396.90   4.98
1  0.02731   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  396.90   9.14
2  0.02729   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  392.83   4.03
3  0.03237   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  394.63   2.94
4  0.06905   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  396.90   5.33

[5 rows x 13 columns]

In [8]:
df_y.head()

      0
0  24.0
1  21.6
2  34.7
3  33.4
4  36.2

In [13]:
x_train,x_test, y_train, y_test = train_test_split(df_x,df_y,test_size=0.33, random_state=42)

In [14]:
rgr = MLPRegressor()
rgr.fit(x_train, y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:1342: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:571: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  % self.max_iter, ConvergenceWarning)

MLPRegressor(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
             beta_2=0.999, early_stopping=False, epsilon=1e-08,
             hidden_layer_sizes=(100,), learning_rate='constant',
             learning_rate_init=0.001, max_fun=15000, max_iter=200,
             momentum=0.9, n_iter_no_change=10, nesterovs_momentum=True,
             power_t=0.5, random_state=None, shuffle=True, solver='adam',
             tol=0.0001, validation_fraction=0.1, verbose=False,
             warm_start=False)

In [15]:
rgr.score(x_train, y_train)

0.5521542890247397

In [20]:
pred = rgr.predict(x_test)

In [21]:
print(pred)

[25.97311084 32.35685598 15.82759719 25.47092088 19.79429096 22.59444001
 19.93474909 18.78782379 22.17706882 22.50482188 23.01711703 20.67282582
  4.25684966 22.05630491 23.81949819 21.0916881  21.18758663 13.33113614
 36.0375751  19.3203903  27.48195276 29.00052634 15.3870543  24.45177342
 19.20762999 18.18123059 23.79650192 13.23956058 22.67757177 22.40460185
 22.91464114 26.05531776 19.51453995 22.57066935 17.91079749 13.57292485
 28.86838935 26.98940499 23.46648604 23.81744381 19.59587509 35.18817606
 38.44757367 22.71847835 25.1091015  19.93595251 16.79387039 24.68848757
 20.64922159 27.42897707 22.97065401 31.87592083 19.80490439 24.91816023
 30.73060757 21.76082578 20.86947564 35.12625417 25.95612722 21.39624419
 26.54695956 36.17141659 27.31928114 16.04116378 25.11439205 19.93032841
 19.84300857 26.66164227 32.74596287 12.85997709 24.16024192 23.58608989
 16.05172662 26.99868317 22.96082687  8.69451414 23.30051887 38.30682322
 17.02742259 12.65561124 24.46436831 15.82780697 26.00199974 15.39286715
 23.00349024 24.97941428 18.67043744 26.3900794  27.3042439  23.60080121
 24.65698519 11.79684405 24.41854406 19.58570414 21.33882011 24.26973028
 21.74387723  6.50139781 12.63097719 11.90123723 24.69157869 23.26092103
 14.67060412 24.55778131 22.76161004 10.93101543 23.00949636 26.52666115
 27.14113334 31.48368419 10.1902168  17.48302305 27.35777589 28.5654301
 25.81202895 15.64371742 31.45103878 15.83074317 23.29004394 26.26622922
 22.64724117 27.15353267  5.97098699 25.22400818 24.9684506  25.60685983
 29.13795852 33.08425435 11.59485064 34.02842814 14.4413776  22.7328287
 20.88742037 22.82185668 15.05448643 15.95563475 27.08318322 38.11822131
 27.92733877 20.31182202 20.75988014 27.64434804 27.49742544 19.75117613
  9.86027498 28.35813288 20.14853133 18.26187981 18.91693416 28.77422275
 15.76979565 19.39590891 29.67523581 24.10476234 25.50544973 24.71546411
 15.41971862 23.12771114 30.14278608  6.6962613  26.30025529 26.60975568
 22.537769   26.14606485 27.60521942 21.25850373 32.36312396]